.container1 {
    margin-inline: 25px;
    margin-top: 200px;
}
.feed{
display: flex;
flex-wrap: wrap;
}
.feed__headers{
        height: 50px;
}
.feed__body{display:flex;
flex-direction: column;}


.card:nth-child(2n) h1 {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}